<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
	PlacemarkBenefits.plist
	MonkiMapModel
	
	Created by Rémi Bardon on 05/06/2020.
	Copyright (c) 2020 Monki Projects. All rights reserved.
-->
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>drinking_fountain</string>
		<key>title</key>
		<string>Fontaine à eau</string>
	</dict>
	<dict>
		<key>id</key>
		<string>covered_area</string>
		<key>title</key>
		<string>Espace couvert</string>
	</dict>
	<dict>
		<key>id</key>
		<string>hooks</string>
		<key>title</key>
		<string>Points d'accroche</string>
	</dict>
	<dict>
		<key>id</key>
		<string>changing_room</string>
		<key>title</key>
		<string>Vestiaire</string>
	</dict>
	<dict>
		<key>id</key>
		<string>coaching</string>
		<key>title</key>
		<string>Coaching</string>
	</dict>
	<dict>
		<key>id</key>
		<string>well_known</string>
		<key>title</key>
		<string>Très connu</string>
	</dict>
	<dict>
		<key>id</key>
		<string>equipment_rental</string>
		<key>title</key>
		<string>Location d'équipement</string>
	</dict>
	<dict>
		<key>id</key>
		<string>shop</string>
		<key>title</key>
		<string>Magasin</string>
	</dict>
</array>
</plist>
